body{
    background: url('../../public/images/background/image3---.jpg');
    color: #003d4c;
    font-family:'lucida grande',verdana,helvetica,arial,sans-serif;
    font-size:90%;
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
}     

.preview h1{
    font-family: 'Raleway', sans-serif;     
    font-size: 46px;           
    line-height: 31px;
    font-weight: 300;
    letter-spacing: 3px;
    color: #f98f32;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;    
    padding: 50px 0;           
}               
.preview h4{
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    line-height: 31px;
    font-weight: 300;
    letter-spacing: 3px;
    color: #f98f32;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
    padding: 0;
    margin: 0; 
}            
.item img:hover{
    opacity: 0.6;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.preview .col-sm-4{
    padding-bottom: 50px;
}