.gallery-image{
	position: relative;
  min-height: 1px;
  }

.gallery-attr {
  color: #aaaaaa;
  text-align: center;
  float:left;
}

[class*="span"] {
  float: left;
  min-height: 1px;
  margin-left: 20px;
}

.span8 {
  width: 620px;
}
